@font-face {
    font-family: 'Matter SQ TRIAL';
    src: url('MatterSQTRIAL-Medium.woff2') format('woff2'),
        url('MatterSQTRIAL-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter SQ TRIAL';
    src: url('MatterSQTRIAL-Bold.woff2') format('woff2'),
        url('MatterSQTRIAL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

